{% extends 'base.html' %}

{% block title %}
  TabOverSpace
{% endblock %}

{% block main-content %}
  <section class="engine">
    <a href="https://mobirise.ws">Mobirise</a>
  </section>
  <section class="cid-qNJ4lEajBu mbr-fullscreen mbr-parallax-background" id="header2-n">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>
    <div class="container align-center">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
          <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">WELCOME<br>TO&nbsp;<br>&gt; _TabOverSpace</h1>
          <p class="mbr-text pb-3 mbr-fonts-style display-5">The coding site you always craved for..</p>
          <div class="mbr-section-btn"><a class="btn btn-md btn-info display-4" href="">ABOUT</a>
            <a class="btn btn-md btn-white-outline display-4" href="{% url 'practice:index' %}">PRACTICE</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
          <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
  </section>

  <section class="counters1 counters cid-qNJ60w9EFF" id="counters1-o">
    <div class="container">
      <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">What can you do with this Website ?</h2>
      <h3 class="mbr-section-subtitle mbr-fonts-style display-5">TabOverSpace is synonymous to versatility.</h3>
      <div class="container pt-4 mt-2">
        <div class="media-container-row">
          <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
            <div class="panel-item p-3">
              <div class="card-img pb-3">
                <span class="mbr-iconfont mbri-laptop"></span>
              </div>
              <div class="card-text">
                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">1</h3>
                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Solve problems. Win hampers!</h4>
                <p class="mbr-content-text mbr-fonts-style display-7">
                  Solve problems, get rewarded with t-coins and then use those t-coins to buy yourself exclusive hampers on our marketplace !
                </p>
              </div>
            </div>
          </div>
          <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
            <div class="panel-item p-3">
              <div class="card-img pb-3">
                <span class="mbri-touch-swipe mbr-iconfont"></span>
              </div>
              <div class="card-text">
                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">2</h3>
                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Design your Test !</h4>
                <p class="mbr-content-text mbr-fonts-style display-7">
                  Preparing for tech interviews? We let you design your own coding challenges, anytime to help you work on your weaknesses and gradually overcome them.
                </p>
              </div>
            </div>
          </div>
          <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
            <div class="panel-item p-3">
              <div class="card-img pb-3">
                <span class="mbr-iconfont mbri-growing-chart"></span>
              </div>
              <div class="card-text">
                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">3</h3>
                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Join the Leaderboard</h4>
                <p class="mbr-content-text mbr-fonts-style display-7">
                  The Leaderboard will help you motivate towards excelling in programming and we wish you all the best !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mbr-section info3 cid-qNJ8qHusBc mbr-parallax-background" id="info3-q">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="media-container-column title col-12 col-md-10">
          <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">Want to learn the art of introducing bugs into an empty text file? :p</h2>
          <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">START TO CODE!</h3>
          <p class="mbr-text align-left mbr-white mbr-fonts-style display-7">
            Join the TabOverSpace community and find your niche in the vast world of programming and meet awesome coders along your journey!<br>Good Luck, Have Fun!
          </p>
          <div class="mbr-section-btn align-left py-4"><a class="btn btn-primary display-4" href="{% url 'practice:index' %}">PRACTICE</a>
            <a class="btn btn-white-outline display-4" href="{% url 'home:login' %}">LOGIN</a></div>
          </div>
        </div>
      </div>
  </section>

{% endblock %}
