<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

<style>

  /*dark background to support form theme*/
  body{
    background:#1C363E;
  }

  /*sass variables used*/
  $full:100%;
  $auto:0 auto;
  $align:center;

  @mixin disable{
    outline:none;
    border:none;
  }

  @mixin easeme{
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
    -o-transition:1s ease;
    -ms-transition:1s ease;
    transition:1s ease;
  }

  /*site container*/
  .wrapper{
    position: fixed;
    text-align: center;
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

  }

  h1{
    text-align:$align;
    padding:30px 0px 0px 0px;
    font:50px;
    color:#FFF;
    text-transform:uppercase;
    text-shadow:#000 0px 1px 5px;
    margin:0px;
  }

  p{
    font:13px Open Sans;
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
    margin-bottom:30px;
  }

  .form{
    width:$full;
  }

  input[type="password"],input[type="name"]{
    width:98%;
    padding:15px 0px 15px 8px;
    border-radius:5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
    @include disable;
    border:1px solid rgba(0,0,0,1);
    margin-bottom:10px;
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
  }

  input[type="submit"]{
    width:100%;
    padding:15px;
    border-radius:5px;
    @include disable;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(aqua), to(#1A878F));
    background-image: -o-linear-gradient(aqua 0%, #1A878F 100%);
    background-image: -webkit-linear-gradient(aqua 0%, #1A878F 100%);
    background-image: -moz-linear-gradient(aqua 0%, #1A878F 100%);
    background-image: linear-gradient(aqua 0%, #1A878F 100%);
    font:24px;
    font-family: sans-serif;
    color:white;
    text-transform:uppercase;
    border:1px solid #000;
    opacity:0.7;
    border-top:1px solid rgba(255,255,255,0.8)!important;
  }

  input:focus{
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.3);
    @include easeme;
  }

  input[type="submit"]:hover{
    opacity:1;
    cursor:pointer;
  }

  .password-help,.username-help{
    display:none;
    padding:0px;
    margin:0px 0px 15px 0px;
  }

  .buttons {
  position: relative;
  white-space: nowrap;
  min-height: 33px;
  margin-bottom: 30px;
  top: 50px;
  text-align: center;
  }

  .buttons a {
    animation: bounceInDown 900ms 200ms ease-in-out both;
    width: 50px;
    height: 33px;
    text-decoration: none;
    padding-top: 9px;
    outline-width: 0px;
    z-index: 990;
    color: black;
    text-align: center;
    line-height: 26px;
    display: block; }

  .buttons a:not(.active) {
      box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
      background: white;
      text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47; }

  .buttons a:not(.active):hover, .buttons a:not(.active):focus {
        transition: color 200ms linear;
        transition: text-shadow 500ms linear;
        color: grey;
        text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c; }

  .buttons a.active, .buttons a:active {
      box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2);
      background: rgba(0,0,0,0.3);
      text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
      color: orange; }

  #button1 {
  border-radius: 20px 0 0 20px;
  width: 300px;
  display: inline-block;
  }

  #button2 {
  border-radius: 0 20px 20px 0;
  width: 300px;
  background-color: aqua;
  display: inline-block;
  }

  .font-class {
  font-family:'Raleway', 'sans-serif';
  }

  .help{
    color: white;
  }

</style>

  <div class='buttons'>
        <a id="button1" class="active font-class" style="color:aqua">Login</a>
        <a id="button2" class="font-class">Sign Up</a>
  </div>

  <div class="wrapper font-class">
    <p style="font-size:40px;color:white;">Welcome Back!</p>
    <br>
    <p style="font-size:15px;color:grey;">Don't have an account? Go to Sign up to make a new account.</p>
    <br>

    <form class="form font" method="post" action="">
      {% csrf_token %}
      <input type="name" class="username" name="username" placeholder="Username">
       <div>
        <p class="help font-class username-help">Please enter your current email address.</p>
      </div>
      <input type="password" class="password" name="password" placeholder="Password">
      <div>
        <p class="help font-class password-help">Please enter your password.</p>
      </div>
      <input type="submit" class="submit" value="Login">
    </form>
  </div>

<script>

  $(".password")
    .focus(function(){
      $(".password-help").slideDown(500);
  })
  .blur(function(){
    $(".password-help").slideUp(500);
  });

  $(".username")
    .focus(function(){
      $(".username-help").slideDown(500);
  })
  .blur(function(){
    $(".username-help").slideUp(500);
  });

  $("#button1").click(function () {
     $(this).addClass("active");
     $("#button2").removeClass("active");
  });

  $("#button2").click(function () {
    $(this).addClass("active");
    $("#button1").removeClass("active");
  });

  document.getElementById("button1").onclick = function () {
    location.href = "login";
  };

  document.getElementById("button2").onclick = function () {
    location.href = "register";
  };

</script>
