<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
{% load staticfiles %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway');

    /*dark background to support form theme*/
    body{
        background:#1C363E;
    }

    /*sass variables used*/
    $full:100%;
    $auto:0 auto;
    $align:center;

    @mixin disable{
        outline:none;
        border:none;
    }

    @mixin easeme{
        -webkit-transition:1s ease;
        -moz-transition:1s ease;
        -o-transition:1s ease;
        -ms-transition:1s ease;
        transition:1s ease;
    }

    /*site container*/
    .wrapper{
        position: fixed;
        text-align: center;
        width: 620px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

    }

    h1{
        text-align:$align;
        padding:0px 0px 0px 0px;
        font:50px;
        color:#FFF;
        text-transform:uppercase;
        margin:0px;
    }

    p{
        font:13px Open Sans;
        color:#6E6E6E;
        margin-bottom:6px;
    }

    .form{
        width:$full;
    }



    input[type="submit"]{
        margin-left: 25%;
        width:50%;
        margin-top: 20px;
        padding:15px;
        border-radius:5px;
        @include disable;
        font:24px;
        color:lightblue;
        outline: none;
        background:#1C363E;
        text-transform:uppercase;
        border:1px solid white;
        opacity:0.9;
        border-top:1px solid rgba(255,255,255,0.8)!important;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 0.5; /* Firefox */
    }


    input[type="password"],input[type="name"], input[type="username"], input[type="confirm_password"]{
        width:98%;
        padding:12px;
        border-radius:5px;
        @include disable;
        background: #E8F0FE;
        border:1px solid rgba(0,0,0,1);
        margin-bottom:10px;
        color:black;
        outline: none;
    }

    input[type="password"],input[type="name"], input[type="username"], input[type="confirm_password"]:focus{
        background: #E8F0FE;
    }

    input[type="submit"]:hover{
        color: aqua;
        cursor:pointer;
    }

    .buttons {
        position: relative;
        white-space: nowrap;
        min-height: 33px;
        margin-bottom: 100px;
        top: 50px;
        text-align: center;
    }

    .buttons a {
        width: 50px;
        height: 33px;
        padding-top: 9px;
        outline-width: 0px;
        color: black;
        text-align: center;
        line-height: 26px;
        display: block; }



    #button1 {
        border-radius: 20px 0 0 20px;
        width: 300px;
        display: inline-block;
    }

    #button2 {
        width: 400px;
        text-align: center;
        display: inline-block;
    }

    .font-class {
        font-family:'Raleway', 'sans-serif';
    }

    .help{
        color: white;
    }

    h1 {
        text-transform: capitalize;
        color:black;
    }

    #main_wrapper {
        width:400px;
        height:570px;
        background-color: ghostwhite;
        box-shadow: #000 0px 1px 5px;
        border-radius: 0px 4px 4px 0px;
        padding: 20px;
    }
    .image{
        height:610px;
        width:200px;
        background-image: url('{% static "home/assets/images/markus-spiske-153537-unsplash.jpg" %}');
        background-position: center;

        box-shadow: #000 0px 1px 5px;
        border-radius: 4px 0px 0px 4px;
    }
    #button2:hover{
        cursor:pointer;
    }

</style>

<div class="wrapper font-class">
    <table>
        <tr>
            <td>

                <div class="image"></div>

            </td>
            <td>
                <div id="main_wrapper">
                    <div class='buttons'>
                        <div id="button1" class="active font-class" style="text-align:center;margin-top:0px;color:aqua"><h1>Register</h1></div>
                        <br>
                    </div>
                    <form class="form font font-class" method="post" action="">
                        {% csrf_token %}

                        <p class="font-class">Username.</p>
                        <input id="user_id" type="username" class="name font-class" name="username" placeholder="Username">

                        <p class="font-class">Email Address.</p>
                        <input id="username_id" type="name" class="username font-class" name="email" placeholder="Email">

                        <p class="font-class">Password</p>
                        <input id="password_id" type="password" class="password font-class" name="password" placeholder="Password">

                        <p class="font-class">Confirm Password</p>
                        <input id="confirm_password_id" type="confirm_password" class="confirm_password font-class" name="confirm_password" placeholder="Confirm Password">

                        <input id="submit_id" type="submit" class="submit font-class" value="Register">
                    </form>

                    <a id="button2" class="font-class" style="font-size:15px;color:darkslategray">Already have an account? <span style="color: dodgerblue">Log In!</span></a>
                    <br>
                </div>
            </td>
        </tr>
    </table>
</div>


<script>


    $("#button1").click(function () {
        $(this).addClass("active");
        $("#button2").removeClass("active");
    });

    $("#button2").click(function () {
        $(this).addClass("active");
        $("#button1").removeClass("active");
    });

    document.getElementById("button1").onclick = function () {
        location.href = "register";
    };
    document.getElementById("button2").onclick = function () {
        location.href = "login";
    };

</script>