{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  TabOverSpace | Question
{% endblock %}

{% block add-css-files %}
<link rel="stylesheet" type="text/css" href="{% static 'css/practice.css' %}" >

{% endblock %}
{% block add-js-files %}

{% endblock %}

{% block main-content %}
<div id="Leaderboard" class="raleway" style="text-align:center; margin-top:150px; color:aqua">
    <h1><span style="color:white"> &nbsp;{{ question }} </span></h1>
</div>
<div class="container">
    <p style="text-align:center;"><span style="text-align:center; color:white">Back to <span style="color:aqua;text-transform: capitalize"><a onclick="history.back()">{{section.name}}</a></span></span></p>
    <div class="line" style="margin-bottom:20px;"></div>
    <div style="">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#tab1" data-toggle="tab">Problem</a>
            </li>
            <li class="nav-item" style="">
                <a class="nav-link" href="#tab2" data-toggle="tab">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">Code</a>
            </li>

            <li class="nav-item" style="margin-left:auto" id="submit">
                <a class="nav-link active aiju" href="#tab3" id="submit">SUBMIT</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-bottom: 9px;">
            <div class="tab-pane fade-in active" id="tab1">
                <div class="question">
                    <h3>Question</h3>
                    <p>
                        Recently Watson learned the concept of coprime numbers and now he wonders given an array A1, A2 . . . AN what is the size of the largest subset of the array such that the each pair of elements in the subset is coprime.<br>
                        Watson asks Sherlock for help and in turn Sherlock needs you.
                    </p>
                    <h3 style="margin-top:40px;">Explanation</h3>
                    <p>
                        Input<br>
                        First line contains T, the number of test cases.<br>
                        Each test case contains N in one line, number of elements in the array.<br>
                        Next line contains N space separated elements A1, A2 . . . AN.<br>

                        Output<br>
                        For each test case, output the required answer in one line.
                        <br><br>
                        Constraints:
                        <br>1 ≤ T ≤ 10
                        <br>25% test data: 1 ≤ N ≤ 10
                        <br>75% test data: 1 ≤ N ≤ 50
                        1 ≤ Ai ≤ 50
                    </p>
                    <h3 style="margin-top:40px;">Sample Input</h3>
                    <p style="background:lightgrey;width:200px;padding:4px;font-family:monospace">1<br>
                        5<br>
                        2 3 2 3 2</p>
                    <h3 style="margin-top:40px;">Sample Output</h3>
                    <p style="background:lightgrey;width:200px;padding:4px;font-family:monospace;margin-bottom:20px;">2
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <textarea style="width:100%;margin-top:20px;margin-bottom:20px;border-radius:7px;padding:12px;height:600px"> &#9679; Make quick notes here !</textarea>
            </div>
            <div class="tab-pane fade" style="padding:0" id="tab3">
                <div class="row" style="margin-left:auto;padding:20px;margin-bottom:0px;">
                  <form class="form font" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" class="username" id="code" name="username">
                    <div id="editor" onkeyup="myFunction()"></div>
                    <br>
                    <input type="submit" class="submit" value="Compile">
                  </form>
                </div>
                <p style="color:white">{{ query }}</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/ace-builds-master/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.session.setMode("ace/mode/javascript");

    function myFunction() {
      var code = editor.getValue();
      var username = document.getElementById("code")
      username.value = code
    }

</script>
{% endblock %}
