@import url('https://fonts.googleapis.com/css?family=Raleway');
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.aiju{
    background: aqua   !important;
    border: solid aqua !important;
    color : black !important;
    font-weight: bold !important;
}
body .ace_scrollbar {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}
body .ace_editor:hover .ace_scrollbar {
    opacity: 1;
}
.box{
    width:80px;
    height: 1px;
    margin: auto;
}
.box2{
    margin-left: 80px;
}
.green{
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    float: right;
    background-color: #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.green:hover {
    background-color: #119137;
    color: white;
}
.line{
    width: 40%;
    height: 1px;
    background-color: aqua;
    margin: auto;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: aqua;
    color: aqua;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid aqua;
    padding-bottom: 12px;
    color: aqua;
    padding-right: 12px;
}
.practice-box{
    box-shadow: 1px 1px 1px #888888;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    color: white;
    background-image: url('../assets/images/domain-background.png');
    background-size: cover;
    align-content: flex-end;
    border-color: aliceblue;
}
.practice-box:hover {
    transition: 0.5s;
    transform: translate(0, -5px);
}
.question{
    width: 100%;
    height:100%;
    padding: 16px;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    margin-top: 20px;
}
.question-box{
    border: solid white;
    color: black;
    border-radius: 2px;
    background-color: white;
    height: 120px;
    width: 800px;
    padding: 6px;
    min-width: 600px;
}
.raleway {
    font-family:'Raleway', 'sans-serif';
}
#submit{
    font-weight: 600;
}
table {
    border-collapse: collapse;
}
td {
    padding-top: 10px;
    padding-bottom: 8px;
}
.table_options{
    color:aliceblue;
    margin-left: 12px;
}
.table_first{
    background-color: aqua;
    width: 10px;
    height:5px;
}
.usually{
    float: left;
    margin-top: 8px;
    color: black;
}
